@import "./variables";

@mixin form-control {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding-left: 16px;
  overflow: hidden;
}

@mixin form-input {
  width: 100%;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: transparent;
  padding-block: 12px;

  &:focus {
    outline: none;
  }
}

.select-control {
  @include form-control;
  width: 280px;
  background-color: $gray;

  select {
    @include form-input;
  }

  svg {
    margin-right: 8px;
  }
}

.date-control {
  @include form-control;

  svg {
    margin-right: 8px;
  }

  input {
    @include form-input;
    max-width: 110px;
  }
}

.number-control {
  @apply flex items-center gap-x-2 p-2 bg-gray-150 rounded-lg;
  button {
    @apply grid place-content-center w-8 h-8 p-2 text-lg rounded-lg bg-white text-primary;
  }
}

.radio-group {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  border: 1px solid $gray;
  overflow: hidden;

  input[type="radio"] {
    display: none;
  }

  label {
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    border-radius: 8px;
    color: #1111116f;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    background-color: #000;
    color: #fff;
  }
}
